<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>all the posts</title>
  </head>
  <body>

    <% @posts.each do |post| %>
    <h1> <%= post.name %></h1>
    <p> <%= post.content %></p>
    <% end %>

    <% if @id %>
      <% ordinal_number = ["zeroth", "first", "second", "third"] %>
      <p> The <%="#{ordinal_number[@id]}"%> post was deleted</p>
    <% end%>

  </body>
</html>
